### References
1. https://www.bp.com/en/global/corporate/energy-economics/statistical-review-of-world-energy.html
1. https://www.bp.com/en/global/corporate/energy-economics/statistical-review-of-world-energy/downloads.html
1. https://www.bp.com/content/dam/bp/business-sites/en/global/corporate/xlsx/energy-economics/statistical-review/bp-stats-review-2019-all-data.xlsx

In [2]:
#import os
import pandas as pd
#import numpy as np
#import matplotlib.pyplot as plt
#import matplotlib.dates as mdates
#import seaborn as sns
#pd.set_option('display.max_rows', 30) 
import tables
import warnings
#warnings.filterwarnings('ignore')
warnings.simplefilter('ignore', tables.NaturalNameWarning) # suppress spammy PyTables warnings

In [3]:
xl_file = "bp-stats-review-2019-all-data.xlsx"
xl_sheet = 'Oil Production - Tonnes'
h5_file = "bp-stats-review-2019.hdf5"
h5_path = "/oil_production"

In [4]:
#save_df_hdf5 = False
#if os.path.isfile(h5_file):
#    df = pd.read_hdf(h5_file, key=h5_path)
#elif os.path.isfile(xl_file):
#    df = pd.read_excel(xl_file, xl_sheet, header=2, index_col=0, skipfooter=9, keep_default_na=False)
#    save_df_hdf5 = True
df = pd.read_excel(xl_file, xl_sheet, header=2, index_col=0, skipfooter=9, keep_default_na=False)
df.head(8)

,1965,1966,1967,1968,1969,1970,1971,1972,1973,1974,...,2014,2015,2016,2017,2018,2018.1,2007-17,2018.2,Unnamed: 58,Unnamed: 59
Million tonnes,,,,,,,,,,,,,,,,,,,,,
,,,,,,,,,,,...,,,,,,,,,,
Canada,43.8742,48.2122,52.7011,57.1193,62.218,70.0679,75.1638,86.7131,100.315,94.3865,...,209.378,215.577,217.974,235.365,255.482,0.0854717,0.0424635,0.0570995,,
Mexico,18.0539,18.4895,20.4638,21.9007,22.965,24.179,24.1073,25.0976,25.8594,32.4162,...,137.098,127.515,121.351,109.472,102.291,-0.065597,-0.0443057,0.0228617,,
US,427.694,454.539,484.222,502.88,511.352,533.49,525.888,527.888,514.652,491.406,...,522.998,566.612,541.939,573.912,669.374,0.166335,0.0652656,0.149603,,
Total North America,489.623,521.241,557.387,581.9,596.535,627.737,625.159,639.699,640.826,618.209,...,869.474,909.704,881.263,918.749,1027.15,0.117984,0.0380399,0.229564,,
,,,,,,,,,,,...,,,,,,,,,,
Argentina,13.7648,14.644,15.9623,17.4876,18.1068,20.0005,21.5709,22.218,21.6012,21.1448,...,29.8038,30.0657,28.6503,27.2601,27.5622,0.011082,-0.0332149,0.00616007,,
Brazil,5.04159,6.15568,7.74725,8.51325,9.28577,8.79274,9.20395,9.02813,9.15585,9.55384,...,122.455,132.193,136.2,142.317,140.348,-0.0138354,0.0412341,0.0313673,,

In [5]:
del df.index.name
df.drop(df.index[df.index  == ""], inplace=True)

In [6]:
fordrop = []
for col in df:
    #print(col, type(col))
    try:
        year = int(col)
    except ValueError:
        fordrop.append(col)
df.drop(fordrop, axis=1, inplace=True)
df.head(10)

,1965,1966,1967,1968,1969,1970,1971,1972,1973,1974,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
Canada,43.8742,48.2122,52.7011,57.1193,62.218,70.0679,75.1638,86.7131,100.315,94.3865,...,152.806,160.293,169.801,182.589,195.065,209.378,215.577,217.974,235.365,255.482
Mexico,18.0539,18.4895,20.4638,21.9007,22.965,24.179,24.1073,25.0976,25.8594,32.4162,...,146.664,145.601,144.519,143.857,141.846,137.098,127.515,121.351,109.472,102.291
US,427.694,454.539,484.222,502.88,511.352,533.49,525.888,527.888,514.652,491.406,...,322.208,332.81,345.43,394.167,447.161,522.998,566.612,541.939,573.912,669.374
Total North America,489.623,521.241,557.387,581.9,596.535,627.737,625.159,639.699,640.826,618.209,...,621.678,638.704,659.75,720.613,784.071,869.474,909.704,881.263,918.749,1027.15
Argentina,13.7648,14.644,15.9623,17.4876,18.1068,20.0005,21.5709,22.218,21.6012,21.1448,...,34.0437,33.2785,31.1853,30.8439,30.2054,29.8038,30.0657,28.6503,27.2601,27.5622
Brazil,5.04159,6.15568,7.74725,8.51325,9.28577,8.79274,9.20395,9.02813,9.15585,9.55384,...,105.684,111.268,113.847,111.948,109.714,122.455,132.193,136.2,142.317,140.348
Colombia,10.6545,10.4439,10.0752,9.25776,11.2339,11.7599,11.6758,10.5774,9.94796,9.07378,...,35.3204,41.3911,48.2066,49.8626,53.1895,52.1628,52.9632,46.7877,44.9819,45.6171
Ecuador,0.428781,0.375184,0.321586,0.268722,0.214391,0.214391,0.214391,4.19207,11.2019,9.48678,...,26.1149,26.1161,26.8093,27.0981,28.2428,29.83,29.1086,29.473,28.4771,27.7224
Peru,3.39417,3.39417,3.8119,3.97943,3.86412,3.86269,3.2993,3.4507,3.75409,4.09386,...,6.89306,7.27745,6.96782,6.86513,7.31446,7.54143,6.53541,5.84881,5.70395,6.40045
Trinidad & Tobago,6.67146,7.56291,8.85056,9.48521,7.77544,6.93351,6.38874,7.00217,8.22117,9.26119,...,6.8022,6.23179,5.87662,5.18226,5.10839,5.05416,4.82414,4.33135,4.37993,3.90073

In [7]:
#df[1965].astype(str).astype(float)
#pd.to_numeric(df[1965], errors="coerce")
df.columns = df.columns.astype(str)
df = df.apply(pd.to_numeric, errors='coerce')

In [8]:
#if save_df_hdf5:
#    df.to_hdf(h5_file, key=h5_path, format="table", data_columns=True)
df.loc["Denmark"]

1965          NaN
1966          NaN
1967          NaN
1968          NaN
1969          NaN
1970          NaN
1971          NaN
1972     0.097730
1973     0.146195
1974     0.097463
1975     0.146195
1976     0.195461
1977     0.487316
1978     0.389853
1979     0.389853
1980     0.293191
1981     0.730975
1982     1.656876
1983     2.095461
1984     2.296662
1985     2.923899
1986     3.606142
1987     4.532043
1988     4.691055
1989     5.457944
1990     5.896529
1991     6.919893
1992     7.671829
1993     8.186916
1994     9.015354
1995     9.064085
1996    10.163952
1997    11.208278
1998    11.598131
1999    14.570761
2000    17.738051
2001    16.958611
2002    18.079439
2003    17.933244
2004    19.057410
2005    18.516830
2006    16.838660
2007    15.168849
2008    14.035467
2009    12.902931
2010    12.156576
2011    10.940620
2012     9.979991
2013     8.682906
2014     8.130409
2015     7.689812
2016     6.924374
2017     6.736967
2018     5.665787
Name: Denmark, dtype: float64

In [9]:
df.to_hdf(h5_file, key=h5_path, format="table", data_columns=True)
#%pwd